.sliding-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: slide 80s linear infinite alternate;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/*   
  <Avatar
  src={pizza}
  alt="Pizza"
  sx={{
    width:{
      xs:66,
      sm:80,
      md:93 
    },
    height:{
      xs:50,
      sm:70,
      md:85
    },
    margin: "0 auto 20px",
    backgroundColor: "transparent",
  }}
  <Box
  sx={{
    height: {
      xs: '30vh',
      sm: '38vh',
      md: '44vh',
    },
    top:{
      xs:"12vh",
      sm:50,
      md:-98
    },
    position: 'absolute',
    mr:7
  }}
>
  <img
    src={chefImage}
    alt="Chef"
    style={{
      borderRadius: '50%',
      width: '100%', // Automatically adapts to the Box's height and maintains aspect ratio.
      height: '100%',
    }}
  /> */